<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <title>3A</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>

<body>
    <div class="container">

        <header>
            <h1>4S</h1>
        </header>

        <div class="row">
            <div id="app">

                <!-- 時間割 -->
                <table class="table">
                    <tbody>
                        <thead>
                            <th class="time"></th>
                            <th v-for="day in week">
                                [[day]]
                            </th>
                        </thead>
                        <tr v-for="(column, i) in timeTable.slice(0, 5)">
                            <th class="time">[[i+1]]</th>
                            <td v-for="(myclass, j) in column.slice(0, 5)" v-if="Number(myclass.hour)>=1"
                                :rowspan=myclass.hour @click="onClick(i, j)">
                                <div>
                                    [[myclass.name]]
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- 時間割終わり-->

                <!-- ポップアップ -->
                <div id="overlay" v-show="showModal">
                    <div id="content">
                        <form class="add-form" v-on:submit.prevent="update">
                            <div class="control">
                                <!-- 講義名 -->
                                <label for="input-name">名前</label> <input id="input-name" type="text"
                                    v-model="timeTable[modalRow][modalCol].name">
                                <!-- 何時間分か -->
                                <label for="input-name">時間</label> <input id="input-name" type="number"
                                    v-model="timeTable[modalRow][modalCol].hour">
                                <!-- zoomとかのurl -->
                                <label for="input-name">url</label> <input id="input-name" type="text"
                                    v-model="timeTable[modalRow][modalCol].url">
                            </div>
                            <button @click="closeModal">更新</button>
                        </form>
                    </div>
                </div>
                <!-- ポップアップ終わり -->

            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="static/js/main.js"></script>
</body>

</html>