<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <title>3A</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
</head>

<body>
    <div class="container">

        <header>
            <h1>4S</h1>
        </header>

        <div class="row">
            <div id="app">

                <!-- 時間割 -->
                <table class="table">
                    <tbody>
                        <thead>
                            <th class="time"></th>
                            <th v-for="day in week">
                                [[day]]
                            </th>
                        </thead>
                        <tr v-for="(column, i) in timeTable.slice(0, 5)">
                            <th class="time">[[i+1]]</th>
                            <template v-for="(myclass, j) in column.slice(0, 5)">
                                <td v-if="Number(myclass.hour)>=1" :rowspan=myclass.hour>
                                    <div @click="onClick(i, j)">
                                        [[myclass.name]]
                                    </div>
                                </td>
                            </template>

                        </tr>
                    </tbody>
                </table>
                <!-- 時間割終わり-->

                <!-- ポップアップ -->
                <div id="overlay" v-show="showModal">
                    <div id="content">
                        <form class="add-form" v-on:submit.prevent="update">
                            <div class="control">
                                <label for="input-name">名前</label> <input id="input-name" type="text"
                                    v-model="timeTable[modalRow][modalCol].name">
                                <label for="input-name">時間</label> <input id="input-name" type="number"
                                    v-model="timeTable[modalRow][modalCol].hour">
                                <label for="input-name">url</label> <input id="input-name" type="text"
                                    v-model="timeTable[modalRow][modalCol].url">
                            </div>
                            <button @click="closeModal">更新</button>
                        </form>
                    </div>
                </div>
                <!-- ポップアップ終わり -->

            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                refleshFlag: true, //強制的に再描画するためのフラグ
                timeTable: [], //時間割のデータ
                week: ["月", "火", "水", "木", "金"],
                showModal: false, //編集画面を表示するフラグ
                modalRow: 0, //編集する授業のid
                modalCol: 0,
                numClick: 0,
                timer: null,
                delay: 700,
            },
            delimiters: ['[[', ']]'],
            created: function () {
                // localStorageにデータを保存
                if (!localStorage['timeTable']) {
                    this.init();
                }
                this.timeTable = JSON.parse(localStorage['timeTable']);
            },
            methods: {
                // 空の時間割で初期化
                init() {
                    let table = []
                    for (let period = 0; period < 5; period++) {
                        let row = []
                        for (let day = 0; day < 5; day++) {
                            row.push({ name: "naiyo", url: "", hour: 1 })
                        }
                        table.push(row);
                    }
                    localStorage['timeTable'] = JSON.stringify(table)
                },
                // 強制的に再描画
                reflesh() {
                    this.refleshFlag = false;
                    this.$nextTick(() => (this.refleshFlag = true));
                },
                // 編集画面を表示
                openModal(row, col) {
                    this.showModal = true;
                    this.modalCol = col;
                    this.modalRow = row;
                },

                //　編集画面を閉じる
                closeModal() {
                    this.showModal = false;
                    this.reflesh();
                    let hour = Number(this.timeTable[this.modalRow][this.modalCol].hour);
                    // 結合して不要になるセルを削除
                    for (let i = this.modalRow + 1; i < this.modalRow + hour; i++) {
                        const element = this.timeTable[i][this.modalCol];
                        element.hour = 0;
                    }
                    // 結合を解除して必要になったセルを追加
                    for (let i = this.modalRow + hour; i < this.timeTable.length; i++) {
                        const element = this.timeTable[i][this.modalCol];
                        if (element.hour != 0) break;
                        element.hour = 1;
                    }
                    this.saveTimeTable();
                },

                // 時間割をlocalStorageに保存
                saveTimeTable() {
                    localStorage['timeTable'] = JSON.stringify(this.timeTable);
                },
                update() {

                },

                openUrl(i, j) {
                    let url = this.timeTable[i][j].url;
                    window.open(url, '_blank');
                },
                //clickとdoubleclickを併用するための関数
                onClick(i, j) {
                    this.numClick++
                    if (this.numClick === 1) {
                        var self = this
                        this.timer = setTimeout(function () {
                            self.openModal(i, j);//single clickの場合
                            self.numClick = 0;
                        }, this.delay);
                    } else {
                        clearTimeout(this.timer);
                        this.openUrl(i, j);//double clickの場合
                        this.numClick = 0;
                    }
                }
            },
        });
    </script>
    <style lang="scss" scoped>
        header {
            margin-top: 30px;
            color: #04b0c7;
        }

        table {
            table-layout: fixed;
        }

        th {
            text-align: center;
        }

        td {
            text-align: center;
        }

        .time {
            text-align: center;
            width: 80px;
        }

        h1 {
            font-weight: bold;

        }

        .other-td {
            width: 120px;
        }

        #overlay {
            z-index: 1;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.2);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #content {
            z-index: 2;
            width: 50%;
            padding-top: 5em;
            padding-bottom: 5em;
            text-align: center;
        }
    </style>
</body>

</html>